body {
    padding: 20%;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-family: sans-serif;
    color: gray;
  }
  img {
    height: 35px;
    width: 35px;
    margin-left: 350px;
  }
  /* .plus-circle{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: black;
      color: white;
      margin-top: 47px;
      margin-left: 400px;
  } */
  span {
    font-weight: bold;
    color: black;
  }
  .add {
    font-size: 40px;
    margin-top: 45px;
  }
  .container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 1rem;
    color: red;
    box-sizing: border-box;
    /* box-shadow: 5px 5px 5px gray; */
  }
  
  .one {
    border: 1px solid red;
    border-radius: 10px;
    padding: 60px 30px;
    height: 200px;
    box-shadow: 5px 5px 5px red;
  }
  .line {
    position: relative;
    font-size: larger;
    font-family: sans-serif;
  }
  
  .line::before {
    position: absolute;
    content: "";
    bottom: -0.4rem;
    height: 10%;
    width: 125%;
    background-color: gray;
  }
  .two {
    text-decoration: line-through;
    font-weight: bold;
    font-family: sans-serif;
  }
  input ~ span {
    color: black;
  }
  .new-container {
    border: 2px solid red;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: red;
    font-family: sans-serif;
    font-size: larger;
    margin-top: -250px;
    margin-left: 70px;
  }
  .filter {
    filter: blur(5px);
  }
  .new {
    border: 2px solid red;
    margin-left: 300px;
    text-align: center;
    height: 250px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px red;
    padding: 60px 30px;
    color: red;
    font-family: sans-serif;
    font-size: larger;
  }
  .new-back {
    font-size: 20px;
  }
  .new-line {
    position: relative;
  }
  .new-line::before {
    position: absolute;
    content: "";
    bottom: -0.4rem;
    height: 10%;
    width: 92%;
    background-color: gray;
  }
  .plus {
    margin-top: 140px;
    margin-left: 180px;
  }
  h1 {
    text-align: center;
    font-family: sans-serif;
    /* justify-items: center; */
    margin-left: 50px;
  }
  .back {
    margin-left: 400px;
    margin-bottom: 20px;
  }
  .new-filter {
    filter: blur(5px);
  }
  
  .btn {
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
  }
  a {
    text-decoration: none;
    color: red;
  }
  .ad {
    height: 100px;
    color: gray;
    font-weight: lighter;
  }
  
  /* FOR MOBILE/SMALLL SCREEN DEVICES */
  @media (max-width: 767px) {
    .container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
  
  /* FOR TABLET/MEDIUM SCREEN DEVICES */
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  
  /* @media screen (min-width:320px) and (max-width:480px) {
      .container{
          grid-template-columns: auto;
      }
  }
  @media screen (min-width: 480px) and (max-width: 800px){
      .container{
          grid-template-columns: auto auto;
      }
  }
  @media screen (min-width: 800px) {
      .container{
          grid-template-columns: auto auto auto;
      }
  } */
  